<!DOCTYPE html>
<html>
    <head>
        <title>What's Cookin'?</title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>
        <div class="wrapper">
            <p class="header-text">What's Cooking, Good Looking?</p>
        </div>
    </body>
</html>
