<!DOCTYPE html>
<html>
    <head>
        <title>What's Cookin'?</title>
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="../../public/scripts/client.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <p class="header-text">What's Cooking, Good Looking?</p>
            <label for="id">ID</label>
            <input type="text" id="id"/>
            <label for="name">Name</label>
            <input type="text" id="name"/> 
            <button onclick="submit()">Submit</button>
          
        </div>
    </body>
</html>
